@font-face {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/Roboto-Regular-webfont.woff') format('woff');
}

.p{
  font-family: Roboto, sans-serif;
}

h1 {
  @extend %h1;
}
