$c-gray: #eee;
$menu-color:#F9F9F9;
$b3-blue: #0DB2B3;
$cf-blue: #CFEFF0;
$ee-blue: #EEFAFA;
$bd-blue: #BDBDBD;
$do-blue: #D0D0D0;
$f7-blue: #F7F7F7;
$color-blak--13:#131313;
$black-33: #333333;
$blue-4f: #4F4F4F;
$blue-7C: #7C7C7C;
$min-width:699px;
$min-width--desctop:1400px;
$effectDuration:0.3s;
