$c-gray: #eee;
$menu-color: #F9F9F9;
$b3-blue: #0DB2B3;
$cf-blue: #CFEFF0;
$ee-blue: #eefafa;
$bd-blue: #bdbdbd;
$do-blue: #d0d0d0;
$color: #f7f7f7;
$color-blak--13: #131313;
$black-33: #333;
$blue-4f: #4f4f4f;
$blue-7C: #7c7c7c;
$min-width: 699px;
$min-width--desctop: 1400px;
$effectDuration: 0.3s;
