.menu--desctop{
  display: none;
  margin-top: 200px;
  margin-bottom: 60px;


  @include on-desctop{
    display: block;
  }

  &__item {
    list-style: none;
    @include hover(transform, scale(1.2));
  }

  &__link {
    color: $black-33;
    text-decoration: none;
    list-style: none;

    &:hover {
      color: $color-blak--13;

      @include font-style(Roboto, 14px, 700, 20px);
    }
  }
  &__list {
    display: flex;
    flex-direction: row;
    gap: 84px;
    justify-content: center;
    padding: 0;

    @include font-style(Roboto, 14px, 400, 20px);

    @include on-tablet {
      display: none;
    }

    @include on-desctop{
      display: flex;
    }
  }

}
