.header{

  width: 100%;
  display: flex;
  order: 0;
  &__head--line{
    @include font-style(Inter, 62px, 700, 78px );

    text-transform: uppercase;
    margin-top: 81px;

   }

  &__content{
    width: 100%;
    @include padding;
    height: 100vh;
    flex-direction: column;
    display: flex;
  }
 &__top{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
 }

 &__photo{
  background-image: url(../images/for-phone.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 245px;
  width: 100%;
  order: -1;



  @include on-tablet{
    background-image: url(../images/for-tablet.png);
    width: 429px;
    height: 317px;
    order: 0;
  }

  @include on-desctop{
    background-image: url(../images/for-pc.png);
    width: 816px;
    height: 464px;
    order: 0;
  }

  }
 &__bottom{
  width: 100%;
  display: flex;
  flex-direction: column;


 @include on-tablet{
  flex-direction: row;
 }

  @include on-desctop{
    margin-top: 90px;
    padding-top: 90px;
    flex-direction: row;
  }

  &--titel{
    order: 0;
    @include h2-on-phone;

    color: $black-33;

    @include on-tablet{
      @include on-tablet_h2;
    }

    @include on-desctop{
      @include on-desctop_h2;
    }
  }
 }

 &__link{
  @include font-style(Roboto, 14px, 300, 100%);

  @include hover(transform, scale(1.2));

  color: $blue-4f;
  text-decoration: none;
  cursor: pointer;

  @include on-desctop{
    @include font-style(Roboto, 14px, 400, 20px);
  }
 }
}
