.icon{
  display: block;
  width: 32px;
  height: 32px;
  background-size: cover;

  @include hover(transform, scale(1.2));

  &--menu{
    background-image: url(../images/icon-menu.svg);


    @include on-tablet{
      display: inline-block;
    }

    @include on-desctop{
      display: none;
    }
  }

  &--close{
    width: 24px;
    height: 24px;
    background-image: url(../images/close.svg);
  }
}
