.menu{
  @include padding;
  @include font-style(Roboto, 14px, 400, 20px);

  background-color: $menu-color;
  width: 100%;
  height: 100vh;


  &__icon{
    min-width: 32px;
    min-height: 32px;
    display: block;
  }

  &__top{
   margin-bottom: 0;
  }

}
