.nav {
  &__item {
    list-style: none;
  }

  &__link {
    color: $black-33;
    text-decoration: none;
    list-style: none;

    &:hover {
      color: $color-blak--13;

      @include font-style(Roboto, 14px, 700, 20px);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: space-between;

    padding: 0;

    @include font-style(Roboto, 14px, 400, 20px);

    @include on-tablet {
      gap: 40px;
    }
  }

  &__button {
    display: inline-block;

    width: 260px;
    height: 48px;
    margin-top: 162px;

    color: #fff;

    background-color: $black-33;

    @include hover(transform, scale(1.2));

    &:hover {
      background-color: $color-blak--13;
    }

    &:disabled {
      background-color: $do-blue;
    }

    @include on-tablet {
      display: none;
    }
  }

  &__block {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 50px;

    @include on-tablet {
      display: none;
    }
  }

}