.top-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-block: 25px;

  background-repeat: no-repeat;

  @include on-tablet{
    padding-block: 30px;
  }

  &__logo{
    @include hover(transform, scale(1.2));

    height: 26px;
    &--link{
      display: flex;
    }
   }

   &__icon{
    display: flex;
    gap:  30px;
    align-items: center;
    justify-content: flex-end;

    width: 100%;
   }

   &__button{
    display: none;

    min-width: 100px;
    min-height: 48px;

    color: #fff;

    background-color: $black-33;

   @include hover(transform, scale(1.2));

   @include on-desctop{
    display: inline-block;
    width: 102px;
    height: 48px;
   }

   @include on-tablet{
    display: inline-block;
   }

   &:hover{
    background-color: $color-blak--13;
   }

   &:disabled {
    background-color: $do-blue;
   }

   }
}

.switch{
  display: none;
  gap: 3px;
  width: 53px;
  height: 20px;


  @include on-tablet{
    display: inline-block;
  }

  @include on-desctop{
    display: inline-block;
  }

  &__button{
    width: 19px;
    height: 20px;
    padding: 0;
    border: none;
  }

  &__divider{
    width: 6px;
    height: 20px;
    margin-inline: 1px;
  }


 }

